.ns{
  background-color: rgb(255, 193, 193);
  color: rgb(58, 15, 15);
  padding: 5px;
}
.ip{
  background-color: rgb(255, 233, 193);
  color: rgb(58, 15, 15);
  padding: 5px;
}
.c{
  background-color: rgb(209, 255, 197);
  color: rgb(58, 15, 15);
  padding: 5px;
}



.keyword{
  padding: 1px 10px;
  background-color:lavender;
  border-radius: 10px;
  margin-right: 5px;
  color: rgb(44, 11, 11);

}

h2{
  margin: 0;
  padding: 0;
}
