

.row{
  align-items:  center;
  font-size: 1.3rem;
}
p{
  margin: 0px;
  font-weight: 400;
}

.badge{
  font-weight: 500;
}

.md{
  background-color: rgb(255, 233, 193);
  color: rgb(87, 17, 17);
}

.h{
  background-color: rgb(255, 193, 193);
  color: rgb(87, 17, 17);
}
.l{
  background-color: rgb(209, 255, 197);
  color: rgb(87, 17, 17);
}