<div class="row pt-3 pb-3" [ngStyle]="{'font-size':getFontSize()}">
  <div class="col-9 d-flex text-break  align-items-center">
    <p class="d-flex align-items-end" *ngIf="task.isDone">
      <mat-icon color="accent">star</mat-icon>
    </p>
    <p class="d-flex align-items-end" *ngIf="!task.isDone">
      <mat-icon color="accent">star_outline</mat-icon>
    </p>
    <p *ngIf="isChecked" class="ms-2 text-decoration-line-through">{{task.task}}</p>
    <p *ngIf="!isChecked" class="ms-2  ">{{task.task}}</p>
    <p *ngIf="task.priority=='high'" class="badge h  ms-2 ">{{task.priority}}</p>
    <p *ngIf="task.priority=='medium'" class="badge   md ms-2 ">{{task.priority}}</p>
    <p *ngIf="task.priority=='low'" class="badge l ms-2 ">{{task.priority}}</p>
  </div>
  <div  class="col-3 d-flex justify-content-end ">
    <mat-slide-toggle matTooltip="Task Completed" (click)="onCheck()" [(ngModel)]="isChecked" color="accent"></mat-slide-toggle>
  </div>
</div>
<mat-divider></mat-divider>