.example-container {
  position: absolute;
  top: 64px;
  bottom: 0px;
  left: 0;
  right: 0;
}

.sidenav{
  background-color:snow;
}

.sidenav-content {

  background-color:white;
  border-top: 1px solid black;
}

